In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
ds = pd.read_csv(r'C:\Users\SUNIL\Desktop\Machine Learning\Machine Learning A-Z (Codes and Datasets)\Part 10 - Model Selection _ Boosting\Section 48 - Model Selection\Python\Social_Network_Ads.csv')
ds

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
x = ds.drop('Purchased', axis=1)
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [5]:
y = ds['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.26, random_state = 42)

In [7]:
from sklearn.preprocessing import StandardScaler
se = StandardScaler()
x_train = se.fit_transform(x_train)
x_test = se.fit_transform(x_test)

In [8]:
from sklearn.svm import SVC
model = SVC(kernel='rbf', random_state = 1)  # linear kernel used for linear svr type and rbf used for non-linear svr type
model.fit(x_train, y_train)

SVC(random_state=1)

In [9]:
y_pred = model.predict(x_test)
y_pred

array([1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0], dtype=int64)

In [10]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[61,  4],
       [ 1, 38]], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9519230769230769

# Applying K-Fold Cross Validation

In [13]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(model, x, y, cv = 10)
score

array([0.7  , 0.925, 0.875, 0.85 , 0.775, 0.725, 0.825, 0.775, 0.625,
       0.65 ])

In [15]:
score.mean()

0.7725000000000001